html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  -webkit-font-kerning: none;
  font-kerning: none;
}

a {
  text-decoration: none;
}

.button {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
  border-radius: 5px;
}

.button:hover {
  background-color: #e74246;
}

.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  padding-bottom: 18px;
  background-color: #efefef;
}

.main-site-logo {
  width: 160px;
  height: 65px;
  margin-right: 201px;
}

.main-site-logo:focus {
  opacity: 0.3;
}

.main-navigation {
  padding-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding-left: 0;
  padding-top: 25px;
  list-style: none;
}

.site-navigation {
  min-width: 520px;
  margin-right: 159px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-navigation li {
  margin-right: 45px;
}

.site-navigation li:nth-child(1) {
  margin-right: 47px;
}

.site-navigation li:nth-child(2) {
  margin-right: 48px;
}

.site-navigation .current-page,
.user-navigation .current-page {
  margin-bottom: 4px;
  border-bottom: #fb565a solid 2px;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .cart {
  padding-left: 40px;
  position: relative;
}

.user-navigation .cart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 2px;
  background-image: url("../img/icons/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  min-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  left: 50%;
  bottom: 96px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-controls button {
  position: relative;
  margin-right: 17px;
  border-radius: 50%;
  border: none;
  width: 18px;
  height: 18px;
  padding: 8px;
  cursor: pointer;
  background: #ffffff;
}

.slider-controls button:last-child {
  margin-right: 0;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: #ffffff;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider {
  background-color: #efefef;
}

.slider-item {
  padding-top: 60px;
  padding-bottom: 80px;
}

.slider-header {
  width: 515px;
}

.slider-text {
  width: 410px;
}

.slider-1 {
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: 431px;
}

.slider-2 {
  background-image: url(../img/slide-2.png);
  background-repeat: no-repeat;
  background-position: 496px;
}

.slider-3 {
  background-image: url(../img/slide-3.png);
  background-repeat: no-repeat;
  background-position: 401px;
}

.slider-2,
.slider-3 {
  display: none;
}

.slider-header {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.slider-button {
  display: inline-block;
  min-width: 240px;
  padding: 16px 54px;
  vertical-align: middle;
}

.services {
  position: relative;
  padding-top: 80px;
  padding-bottom: 55px;
}

.grey-line-after::after {
  position: absolute;
  bottom: 0px;
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #efefef;
}

.services-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  list-style: none;
}

.services-item {
  padding-top: 170px;
  padding-bottom: 40px;
  width: 300px;
  margin-right: 100px;
  text-align: left;
}

.services-item p {
  width: 250px;
  color: #283136;
}

.services-item-sites {
  background-image: url(../img/illustration-1.png);
  background-repeat: no-repeat;
}

.services-item-apps {
  background-image: url(../img/illustration-2.png);
  background-repeat: no-repeat;
}

.services-item-ppts {
  background-image: url(../img/illustration-3.png);
  background-repeat: no-repeat;
}

.services-item:nth-child(3n) {
  margin-right: 60px;
}

.services-item h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-item p {
  padding-bottom: 30px;
}

.services-item-button {
  padding: 16px 39px;
}

.services-item-apps a {
  background-color: #00ca74;
}

.services-item-ppts a {
  background-color: #efc84a;
}

.services-item-apps a:hover {
  background-color: #00bc6c;
}

.services-item-ppts a:hover {
  background-color: #eab534;
}

.services-item-apps a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.services-item-ppts a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.about-us {
  position: relative;
  padding-top: 65px;
  padding-bottom: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages {
  width: 670px;
  margin-right: 130px;
}

.benefits {
  position: relative;
  width: 360px;
  padding-top: 217px;
  text-align: center;
}

.benefits::before {
  position: absolute;
  top: -25px;
  left: 0;
  content: "";
  width: 360px;
  height: 208px;
  background-image: url(../img/nerds-illustration.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.about-us-header {
  margin: 0;
  padding-top: 8px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-align: left;
}

.about-us-text {
  margin: 0;
  padding-top: 32px;
  color: #283136;
}

.about-us-services {
  margin: 0;
  margin-top: 41px;
  text-transform: uppercase;
  font-weight: 700;
}

.about-us-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us-services-list li {
  position: relative;
  padding-top: 24px;
  padding-left: 35px;
  color: #283136;
}

.about-us-services-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: 1px;
  top: 35px;
  background-color: #fb565a;
}

.benefits-text {
  margin: 0;
  margin-bottom: 49px;
  text-transform: uppercase;
  font-weight: 700;
}

.benefits-table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.benefits-table tr {
  margin-right: 13px;
  margin-bottom: 25px;
  text-align: left;
}

.benefits-table tr:nth-child(3n) {
  margin-right: 0;
}

.benefits-table th {
  display: block;
  width: 105px;
  font-size: 45px;
  line-height: 10px;
}

.benefits-table td {
  display: block;
  width: 105px;
  padding-top: 34px;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.benefits-table span {
  vertical-align: super;
  font-size: 25px;
}

.partners {
  position: relative;
  padding-top: 46px;
  padding-bottom: 46px;
  margin-bottom: 20px;
}

.partners-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.partners-list li {
  position: relative;
  display: block;
  list-style: none;
}

.partners-list li::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  top: 19px;
  right: -2px;
  background-color: #efefef;
}

.partners-list li:last-child::after {
  width: 0;
  height: 0;
}

.partners-list .htmlacademy {
  padding-top: 16px;
  padding-left: 31px;
  padding-right: 49px;
}

.partners-list .borodinskii {
  padding-left: 47px;
  padding-right: 44px;
}

.partners-list .pink {
  padding-top: 19px;
  padding-left: 59px;
  padding-right: 56px;
}

.partners-list .mishka {
  padding-top: 6px;
  padding-left: 65px;
}

.partners-list .htmlacademy-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 199px;
  height: 68px;
  opacity: 0.2;
}

.partners-list .htmlacademy-link:hover {
  opacity: 1;
}

.partners-list .htmlacademy-link:focus {
  opacity: 0.1;
}

.partners-list .borodinskii-link {
  display: block;
  width: 209px;
  height: 90px;
  opacity: 0.2;
}

.partners-list .borodinskii-link:hover {
  opacity: 1;
}

.partners-list .borodinskii-link:focus {
  opacity: 0.1;
}

.partners-list .pink-link {
  display: block;
  width: 185px;
  height: 52px;
  opacity: 0.2;
}

.partners-list .pink-link:hover {
  opacity: 1;
}

.partners-list .pink-link:focus {
  opacity: 0.1;
}

.partners-list .mishka-link {
  display: block;
  width: 173px;
  height: 84px;
  opacity: 0.2;
}

.partners-list .mishka-link:hover {
  opacity: 1;
}

.partners-list .mishka-link:focus {
  opacity: 0.1;
}

.contacts {
  padding-top: 60px;
  padding-bottom: 69px;
}

.map {
  position: relative;
  min-height: 416px;
  background-color: #e9e5dc;
  background-image: url(..//img/map.png);
  background-repeat: no-repeat;
  background-position: 234px 0;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.address {
  position: relative;
  width: 319px;
  margin-top: 54px;
  margin-bottom: 54px;
  padding-top: 49px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 47px;
  background-color: #ffffff;
  color: #666666;
}

.contacts .company-name {
  margin: 0;
  padding-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.address address {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  overflow: auto;
  max-height: 120px;
}

.address .telephone {
  color: #666666;
  text-decoration: none;
}

.address .button {
  display: block;
  margin-top: 35px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
}

.site-footer {
  padding-bottom: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  padding: 0;
  margin: 0;
  margin-right: 139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  list-style: none;
}

.social li:nth-child(1) {
  margin-right: 12px;
}

.social li:nth-child(2) {
  margin-right: 11px;
}

.social-button {
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  color: #000000;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-button-vk {
  background-image: url(../img/icons/icon-vkontakte.svg);
}

.social-button-fb {
  background-image: url(../img/icons/icon-facebook.svg);
}

.social-button-inst {
  background-image: url(../img/icons/icon-instagram.svg);
}

.social-button:hover {
  color: #ffffff;
  background-color: #e74246;
}

.social-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.footer-info {
  text-align: left;
}

.footer-info-friends {
  margin-top: 5px;
  margin-bottom: 9px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-info-offer {
  margin: 0;
  line-height: 22px;
  color: #444444;
}

.popup-write-us {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -295px;
  width: 960px;
  height: 590px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  padding-bottom: 84px;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.write-us-header {
  margin: 0;
  margin-bottom: 35px;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  font-weight: 500;
}

.write-us-form label {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: 900;
}

.write-us-input {
  display: inline-block;
  width: 360px;
  margin-bottom: 30px;
}

.write-us-input:first-of-type {
  margin-right: 35px;
}

.write-us-input input {
  width: 360px;
  height: 50px;
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: 400;
  border: solid 2px #d7dcde;
  border-radius: 5px;
}

.write-us-input :hover {
  border-color: #b4b9bb;
}

.write-us-input :focus {
  border-color: #000000;
}

.write-us-input :invalid:not(:placeholder-shown) {
  box-shadow: none;
  color: #e74246;
  border-color: #e74246;
}

.write-us-input ::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.write-us-input-wide {
  width: 760px;
  margin-bottom: 47px;
}

.write-us-input textarea {
  width: 760px;
  height: 118px;
  margin-top: 8px;
  padding-top: 14px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: 400;
  border: solid 2px #d7dcde;
  border-radius: 5px;
}

.write-us-form .button {
  display: inline-block;
  padding-left: 82px;
  padding-right: 84px;
  padding-top: 19px;
  padding-bottom: 18px;
  border: none;
}

.popup-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: #ffffff;
  background-image: url(../img/icons/icon-close.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
  border: 0;
  cursor: pointer;
}

.popup-close:hover,
.popup-close:focus {
  opacity: 1;
}

.popup-close:active {
  opacity: 0.1;
}

.popup-show {
  display: block;
  animation: bounce 1s;
}

.popup-error {
  animation: shake 0.6s;
}

.page-title-wrapper {
  width: 100%;
  background-color: #efefef;
}

.page-title {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 107px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.catalog-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters {
  width: 261px;
  margin-right: 140px;

}

.filters li {
  list-style: none;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters legend {
  margin: 0;
  padding: 0;
  padding-top: 56px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-filter {
  width: 260px;
  margin-top: 47px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
}

.price-controls label {
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  margin-left: 8px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.filter-layout legend {
  padding-bottom: 13px;
}

.filter-features legend {
  padding-top: 27px;
  padding-bottom: 13px;
}

.filter-layout ul,
.filter-features ul{
  margin: 0;
  padding: 0;
}

.filter-option {
  position: relative;
  padding-bottom: 16px;
  padding-left: 36px;
}

.filter-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter-option label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter-input-radio + label::before {
  position: absolute;
  top: -1px;
  left: 2px;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/icons/icon-radio-off.svg);
  background-repeat: no-repeat;
}

.filter-input-radio:checked + label::before {
  background-image: url(../img/icons/icon-radio-on.svg);
}

.filter-input-checkbox + label::before {
  position: absolute;
  top: 1px;
  left: 2px;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url(../img/icons/icon-checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  background-image: url(../img/icons/icon-checkbox-on.svg);
}

.form-button {
  margin-top: 30px;
  padding-top: 18px;
  padding-bottom: 16px;
  padding-left: 89px;
  padding-right: 88px;
  border: none;
  color: #000000;
  background-color: #eeeeee;
}

.form-button:hover {
  background-color: #dfdfdf;
}

.form-button:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.max-price {
  margin-left: 32px;
}

.templates {
  padding-top: 57px;
  width: 760px;
}

.sorting {
  padding-bottom: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting p {
  margin: 0;
  margin-right: 239px;
  padding-top: 3px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.sorting-list li {
  list-style: none;
}

.sorting-list a {
  margin-left: 26px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list .direction {
  display: block;
  width: 11px;
  height: 10px;
  margin-top: 7px;
  background-repeat: no-repeat;
}

.sorting-list .direction-asc {
  margin-left: 18px;
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #a6a6a6;
}

.sorting-list .direction-desc {
  margin-left: 48px;
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #a6a6a6;
}

.sorting-list .active {
  color: #000000;
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.templates-list {
  width: 760px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  list-style: none;
}

.templates-item {
  position: relative;
  width: 360px;
  margin-bottom: 35px;
  padding-top: 31px;
}

.templates-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top: -9px;
  background-image: url(../img/browser.svg);
  opacity: 0.12;
}

.templates-item:hover::before {
  opacity: 1;
}

.template-item-info {
  display: none;
  position: absolute;
  bottom: 0;
  width: 360px;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  background-color: #efefef;
}

.templates-item:hover .template-item-info {
  display: block;
}

.template-item-name {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.template-item-name a {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.template-item-info p {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.template-sedona p {
  width: 176px;
}

.template-barbershop p {
  width: 165px;
}

.template-item-price {
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-right: 60px;
  padding-left: 62px;
}

.template-item-price:hover {
  background-color: #e74246;
}

.template-item-price:focus {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-list {
  margin: 0;
  padding: 0;
  padding-top: 19px;
  /* padding-bottom: 60px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-list li {
  margin-right: 11px;
  list-style: none;
}

.pagination-list a {
  display: block;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 21px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #eeeeee;
  border-radius: 5px;
}

.pagination-list .active {
  background-color: #ffffff;
  box-shadow:inset 0px 0px 0px 3px #dbdbdb;
}

.pagination-list .prev,
.pagination-list .next {
  padding-left: 78px;
  padding-right: 79px;
}

.write-us {
  width: 960px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 150px;
  padding-left: 100px;
  padding-right: 100px;
}

@keyframes bounce {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
