html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  -webkit-font-kerning: none;
  font-kerning: none;
}

a {
  text-decoration: none;
}

.button {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
  border-radius: 3px;
}

.button:hover {
  background-color: #e74246;
}

.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  padding-bottom: 18px;
  background-color: #efefef;
}

.main-site-logo {
  width: 160px;
  height: 65px;
  margin-right: 201px;
}

.main-site-logo:focus {
  opacity: 0.3;
}

.main-navigation {
  padding-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding-left: 0;
  padding-top: 25px;
  list-style: none;
}

.site-navigation {
  min-width: 520px;
  margin-right: 159px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-navigation li {
  margin-right: 45px;
}

.site-navigation li:nth-child(1) {
  margin-right: 47px;
}

.site-navigation li:nth-child(2) {
  margin-right: 48px;
}

.site-navigation .current-page,
.user-navigation .current-page {
  padding-bottom: 12px;
  border-bottom: #fb565a solid 2px;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .cart {
  padding-left: 40px;
  position: relative;
}

.user-navigation .cart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 2px;
  background-image: url("../img/icons/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  min-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  left: 50%;
  bottom: 96px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-controls button {
  position: relative;
  margin-right: 17px;
  border-radius: 50%;
  border: none;
  width: 18px;
  height: 18px;
  padding: 8px;
  cursor: pointer;
  background: #ffffff;
}

.slider-controls button:last-child {
  margin-right: 0;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: #ffffff;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider {
  background-color: #efefef;
}

.slider-item {
  padding-top: 60px;
  padding-bottom: 80px;
}

.slider-header {
  width: 515px;
}

.slider-text {
  width: 410px;
}

.slider-1 {
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: 431px;
}

.slider-2 {
  background-image: url(../img/slide-2.png);
  background-repeat: no-repeat;
  background-position: 496px;
}

.slider-3 {
  background-image: url(../img/slide-3.png);
  background-repeat: no-repeat;
  background-position: 401px;
}

.slider-2,
.slider-3 {
  display: none;
}

.slider-header {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.slider-button {
  display: inline-block;
  min-width: 240px;
  padding: 16px 54px;
  vertical-align: middle;
}

.services {
  position: relative;
  padding-top: 80px;
  padding-bottom: 55px;
}

.grey-line-after::after {
  position: absolute;
  bottom: 0px;
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #efefef;
}

.services-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  list-style: none;
}

.services-item {
  padding-top: 170px;
  padding-bottom: 40px;
  width: 300px;
  margin-right: 100px;
  text-align: left;
}

.services-item p {
  width: 250px;
  color: #283136;
}

.services-item-sites {
  background-image: url(../img/illustration-1.png);
  background-repeat: no-repeat;
}

.services-item-apps {
  background-image: url(../img/illustration-2.png);
  background-repeat: no-repeat;
}

.services-item-ppts {
  background-image: url(../img/illustration-3.png);
  background-repeat: no-repeat;
}

.services-item:nth-child(3n) {
  margin-right: 60px;
}

.services-item h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-item p {
  padding-bottom: 30px;
}

.services-item-button {
  padding: 16px 39px;
}

.services-item-apps a {
  background-color: #00ca74;
}

.services-item-ppts a {
  background-color: #efc84a;
}

.services-item-apps a:hover {
  background-color: #00bc6c;
}

.services-item-ppts a:hover {
  background-color: #eab534;
}

.services-item-apps a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.services-item-ppts a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.about-us {
  position: relative;
  padding-top: 65px;
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages {
  width: 670px;
  margin-right: 130px;
}

.benefits {
  position: relative;
  width: 360px;
  padding-top: 217px;
  text-align: center;
}

.benefits::before {
  position: absolute;
  top: -25px;
  left: 0;
  content: "";
  width: 360px;
  height: 208px;
  background-image: url(../img/nerds-illustration.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.about-us-header {
  margin: 0;
  padding-top: 8px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-align: left;
}

.about-us-text {
  margin: 0;
  padding-top: 32px;
  color: #283136;
}

.about-us-services {
  margin: 0;
  margin-top: 41px;
  text-transform: uppercase;
  font-weight: 700;
}

.about-us-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us-services-list li {
  position: relative;
  padding-top: 24px;
  padding-left: 35px;
  color: #283136;
}

.about-us-services-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: 1px;
  top: 35px;
  background-color: #fb565a;
}

.benefits-text {
  margin: 0;
  margin-bottom: 49px;
  text-transform: uppercase;
  font-weight: 700;
}

.benefits-table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.benefits-table tr {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}

.benefits-table tr:nth-child(3n) {
  margin-right: 0;
}

.benefits-table th {
  font-size: 45px;
  line-height: 10px;
}

.benefits-table td {
  padding-top: 34px;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.benefits-table span {
  vertical-align: super;
  font-size: 25px;
}

.partners {
  position: relative;
  padding-top: 46px;
  padding-bottom: 46px;
}

.partners-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.partners-list li {
  position: relative;
  display: block;
  list-style: none;
}

.partners-list li::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  top: 19px;
  right: -2px;
  background-color: #efefef;
}

.partners-list li:last-child::after {
  width: 0;
  height: 0;
}

.partners-list .htmlacademy {
  padding-top: 16px;
  padding-left: 31px;
  padding-right: 49px;
}

.partners-list .borodinskii {
  padding-left: 47px;
  padding-right: 44px;
}

.partners-list .pink {
  padding-top: 19px;
  padding-left: 59px;
  padding-right: 56px;
}

.partners-list .mishka {
  padding-top: 6px;
  padding-left: 65px;
}

.partners-list .htmlacademy-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 199px;
  height: 68px;
  opacity: 0.2;
}

.partners-list .htmlacademy-link:hover {
  opacity: 1;
}

.partners-list .htmlacademy-link:focus {
  opacity: 0.1;
}

.partners-list .borodinskii-link {
  display: block;
  width: 209px;
  height: 90px;
  opacity: 0.2;
}

.partners-list .borodinskii-link:hover {
  opacity: 1;
}

.partners-list .borodinskii-link:focus {
  opacity: 0.1;
}

.partners-list .pink-link {
  display: block;
  width: 185px;
  height: 52px;
  opacity: 0.2;
}

.partners-list .pink-link:hover {
  opacity: 1;
}

.partners-list .pink-link:focus {
  opacity: 0.1;
}

.partners-list .mishka-link {
  display: block;
  width: 173px;
  height: 84px;
  opacity: 0.2;
}

.partners-list .mishka-link:hover {
  opacity: 1;
}

.partners-list .mishka-link:focus {
  opacity: 0.1;
}

.contacts {
  padding-top: 80px;
  padding-bottom: 69px;
}

.map {
  position: relative;
  min-height: 416px;
  background-color: #e9e5dc;
  background-image: url(..//img/map.png);
  background-repeat: no-repeat;
  background-position: 234px 0;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.address {
  position: relative;
  width: 319px;
  margin-top: 54px;
  margin-bottom: 54px;
  padding-top: 49px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 47px;
  background-color: #ffffff;
  color: #666666;
}

.contacts .company-name {
  margin: 0;
  padding-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.address address {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  overflow: auto;
  max-height: 120px;
}

.address .telephone {
  color: #666666;
  text-decoration: none;
}

.address .button {
  display: block;
  margin-top: 35px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
}

.site-footer {
  padding-bottom: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  padding: 0;
  margin: 0;
  margin-right: 139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  list-style: none;
}

.social li:nth-child(1) {
  margin-right: 12px;
}

.social li:nth-child(2) {
  margin-right: 11px;
}

.social-button {
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  color: #000000;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-button-vk {
  background-image: url(../img/icons/icon-vkontakte.svg);
}

.social-button-fb {
  background-image: url(../img/icons/icon-facebook.svg);
}

.social-button-inst {
  background-image: url(../img/icons/icon-instagram.svg);
}

.social-button:hover {
  color: #ffffff;
  background-color: #e74246;
}

.social-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.footer-info {
  text-align: left;
}

.footer-info-friends {
  margin-top: 5px;
  margin-bottom: 9px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-info-offer {
  margin: 0;
  line-height: 22px;
  color: #444444;
}

.popup-write-us {
  display: none;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.catalog-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters {
  width: 261px;
  margin-right: 140px;
}

.filters li {
  list-style: none;
}

.filters fieldset {
  border: none;
}

.filters legend {
  padding-top: 60px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.templates {
  width: 760px;
}

.sorting {
  padding-top: 60px;
  padding-bottom: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sorting p {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-list li {
  margin-left: 27px;
  list-style: none;
}

.sorting-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.templates-list {
  width: 760px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  list-style: none;
}

.templates-item {
  width: 360px;
}

.template-item-name a {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.template-item-info p {
  font-size: 16px;
  line-height: 18px;
}

.template-item-price {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
}

.template-item-price:hover {
  background-color: #e74246;
}

.template-item-price:focus {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-list {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-list li {
  margin-right: 11px;
  list-style: none;
}
