html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
}

.button:hover {
  background-color: #e74246;
}

.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  padding-bottom: 18px;
  background-color: #efefef;
}

.main-site-logo {
  width: 160px;
  height: 65px;
}

.main-site-logo:focus {
  opacity: 0.3;
}

.main-navigation {
  padding-top: 49px;
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding-top: 25px;
  list-style: none;
}

.site-navigation {
  min-width: 520px;
  display: flex;
}

.site-navigation li:nth-child(1) {
  margin-right: 47px;
}

.site-navigation li:nth-child(2) {
  margin-right: 48px;
}

.site-navigation li:nth-child(3) {
  margin-right: 45px;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .cart {
  padding-left: 45px;
  position: relative;
}

.user-navigation .cart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 4px;
  top: 2px;
  background-image: url("../img/icons/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  min-width: 90px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  left: 50%;
  bottom: 95px;
  transform: translateX(-50%);
}

.slider-controls button {
  position: relative;
  border-radius: 50%;
  border: none;
  width: 18px;
  height: 18px;
  padding: 8px;
  cursor: pointer;
  background: #ffffff;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: #ffffff;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider {
  background-color: #efefef;
}

.slider-item {
  padding-top: 60px;
  padding-bottom: 92px;
}

.slider-1 {
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: 431px;
}

.slider-2 {
  background-image: url(../img/slide-2.png);
  background-repeat: no-repeat;
  background-position: 496px;
}

.slider-3 {
  background-image: url(../img/slide-3.png);
  background-repeat: no-repeat;
  background-position: 401px;
}

.slider-2,
.slider-3 {
  display: none;
}

.slider-header {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-text {
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.slider-button {
  padding: 16px 54px;
  border-radius: 3px;
}

.services {
  padding-top: 80px;
  padding-bottom: 40px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.services-item {
  padding-top: 172px;
  padding-bottom: 40px;
  width: 300px;
  margin-right: 100px;
  text-align: left;
}

.services-item-sites {
  background-image: url(../img/illustration-1.png);
  background-repeat: no-repeat;
}

.services-item-apps {
  background-image: url(../img/illustration-2.png);
  background-repeat: no-repeat;
}

.services-item-ppts {
  background-image: url(../img/illustration-3.png);
  background-repeat: no-repeat;
}

.services-item:nth-child(3n) {
  margin-right: 60px;
}

.services-item h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-item p {
  padding-bottom: 30px;
}

.services-item-button {
  padding: 16px 39px;
  border-radius: 3px;
}

.services-item-apps a {
  background-color: #00ca74;
}

.services-item-ppts a {
  background-color: #efc84a;
}

.services-item-apps a:hover {
  background-color: #00bc6c;
}

.services-item-ppts a:hover {
  background-color: #eab534;
}

.services-item-apps a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.services-item-ppts a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.about-us {
  padding-top: 80px;
  padding-bottom: 76px;
  display: flex;
  background-image: url(../img/nerds-illustration.png);
  background-repeat: no-repeat;
  background-position: 820px 54px;
}

.about-us-header {
  margin: 0;
  padding-top: 8px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-align: left;
}

.about-us-text {
  margin: 0;
  padding-top: 32px;
}

.about-us-services {
  margin: 0;
  margin-top: 41px;
  text-transform: uppercase;
  font-weight: 900;
}

.about-us-services-list {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  list-style: none;
}

.about-us-services-list li {
  position: relative;
  padding-top: 23px;
}

.about-us-services-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: -34px;
  top: 34px;
  background-color: #fb565a;
}

.benefits-text {
  margin: 0;
  margin-bottom: 49px;
  text-transform: uppercase;
  font-weight: 900;
}

.advantages {
  width: 651px;
  margin-right: 148px;
}

.benefits {
  width: 360px;
  padding-top: 217px;
  text-align: center;
}

.benefits-table tbody {
  display: flex;
  flex-wrap: wrap;
}

.benefits-table tr {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.benefits-table tr:nth-child(3n) {
  margin-right: 0;
}

.benefits-table th {
  font-size: 45px;
  line-height: 10px;
}

.benefits-table td {
  padding-top: 34px;
  font-size: 16px;
  line-height: 18px;
}

.benefits-table span {
  vertical-align: super;
  font-size: 25px;
}

.partners {
  padding-top: 46px;
  padding-bottom: 44px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
}

.partners-list li{
  width: 209px;
  list-style: none;
}

.contacts {
  padding-top: 80px;
  padding-bottom: 80px;
}

.address {
  width: 319px;
}

.contacts .company-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.site-footer {
  margin-top: 78px;
  padding-bottom: 76px;
  display: flex;
}

.social {
  padding: 0;
  margin: 0;
  margin-right: 139px;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.social li:nth-child(1) {
  margin-right: 12px;
}

.social li:nth-child(2) {
  margin-right: 11px;
}

.social-button {
  color: #000000;
  background-color: #e1e1e1;
}

.social-button:hover {
  color: #ffffff;
  background-color: #e74246;
}

.social-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.footer-info {
  text-align: left;
}

.footer-info-friends {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-info-offer {
  margin: 0;
  line-height: 22px;
}

.popup-write-us {
  display: none;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.catalog-column {
  display: flex;
}

.filters {
  width: 261px;
  margin-right: 140px;
}

.filters li {
  list-style: none;
}

.filters fieldset {
  border: none;
}

.filters legend {
  padding-top: 60px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.templates {
  width: 760px;
}

.sorting {
  padding-top: 60px;
  padding-bottom: 59px;
  display: flex;
  justify-content: space-between
}

.sorting p {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.sorting-list {
  padding: 0;
  margin: 0;
  display: flex;
}

.sorting-list li {
  margin-left: 27px;
  list-style: none;
}

.sorting-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.templates-list {
  width: 760px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.templates-item {
  width: 360px;
}

.template-item-name a {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.template-item-info p {
  font-size: 16px;
  line-height: 18px;
}

.template-item-price {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
}

.template-item-price:hover {
  background-color: #e74246;
}

.template-item-price:focus {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-list {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.pagination-list li {
  margin-right: 11px;
  list-style: none;
}
